.cartbox{
    width:80%;
    height:auto;
    margin:1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 233, 233, 0.326);
    color:  rgb(79, 78, 78);
    border-radius: 10px;
    padding: 1rem;
}
.item{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color:rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}