@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.video{
    width:100%;
    /* height: 53.75rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -3rem;
}
.video h3{
    width: 100%;
    color: #252B42;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 8rem;
}
.video p{
    width:100%;
    color:#737373;
    text-align: center;
    margin-top: 1rem;
}
.upper{
    width:100%;
    height:12.25rem;
}
.lower{
    width:100%;
    height: 16.5rem;
    background-color: #C7EACC;
}
video{
    width: 777px ;
    height: 342px;
    position: absolute;
    bottom:5rem;
}
.play{
    position: absolute;
    z-index: 99;
    bottom:14rem;
    width:25px;
    height:25px;
    padding:20px;
    border-radius: 50%;
    background-color:#2EBF91;
    cursor: pointer;
}
.play img{
    width:20px;
    height: auto;
    position: relative;
    bottom:3px;
    left: 5px;
}
@media screen and (max-width:891px){
    .video{
        margin-top: -4rem;
    }
    video{
        position: absolute;
        bottom:4rem;
    }
    .play{
        position: absolute;
        bottom:12rem
    }
    .lower{
     height:15rem;
    }
}
@media screen and (max-width:641px)
{
    .video h3{
       font-size:2rem;
    }
    .upper{
        height:6rem;
    }
    .lower{
        height:7rem;
    }
    video{
        width:300px;
        height: auto;
        position: absolute;
        bottom: 1rem;
    }
    .play{
        position: absolute;
        width:10px;
        height: 10px;
        bottom: 4rem;
    }
    .play img{
        width:12px;
        position: relative;
        left:1px;
    }
}
.hide{
    display: none;
}
